In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Bankdata.csv")
df

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0,56,housemaid,married,basic.4y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,1,57,services,married,high.school,unknown,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,2,37,services,married,high.school,no,yes,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,3,40,admin,married,basic.6y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,4,56,services,married,high.school,no,no,yes,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,41183,73,retired,married,professional.course,no,yes,no,cellular,nov,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1
41184,41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41185,41185,56,retired,married,university.degree,no,yes,no,cellular,nov,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41186,41186,44,technician,married,professional.course,no,no,no,cellular,nov,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1
41187,41187,74,retired,married,professional.course,no,yes,no,cellular,nov,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,0

In [3]:
df.columns

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [4]:
df['y'].unique()

array([0, 1], dtype=int64)

In [5]:
df.dropna(inplace=True)

In [6]:
X = df[["age", "duration", "campaign", "pdays", "previous", "emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m", "nr.employed"]]
y = df["y"]

In [7]:
y_train = df["y"]

In [8]:
x=df.drop('y',axis=1)
x

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,month,...,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,0,56,housemaid,married,basic.4y,no,no,no,telephone,may,...,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,1,57,services,married,high.school,unknown,no,no,telephone,may,...,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,2,37,services,married,high.school,no,yes,no,telephone,may,...,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3,3,40,admin,married,basic.6y,no,no,no,telephone,may,...,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4,4,56,services,married,high.school,no,no,yes,telephone,may,...,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,41183,73,retired,married,professional.course,no,yes,no,cellular,nov,...,334,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41184,41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,...,383,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41185,41185,56,retired,married,university.degree,no,yes,no,cellular,nov,...,189,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41186,41186,44,technician,married,professional.course,no,no,no,cellular,nov,...,442,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41187,41187,74,retired,married,professional.course,no,yes,no,cellular,nov,...,239,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6

In [9]:
y=df['y']
y

0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y, Length: 41188, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
clf = DecisionTreeClassifier()

In [13]:
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le=LabelEncoder()
y_train=le.fit_transform(y_train)

In [16]:
X_test = X_test.iloc[:, :11]
print(X_test)

       age  duration  campaign  pdays  previous  emp.var.rate  cons.price.idx  \
32884   57       371         1    999         1          -1.8          92.893
3169    55       285         2    999         0           1.1          93.994
32206   33        52         1    999         1          -1.8          92.893
9403    36       355         4    999         0           1.4          94.465
14020   27       189         2    999         0           1.4          93.918
...    ...       ...       ...    ...       ...           ...             ...
12322   27       584         1    999         0           1.4          93.918
23440   41       167         7    999         0           1.4          93.444
29431   46       142        12    999         1          -1.8          93.075
16627   31      1327         2    999         0           1.4          93.918
1871    59       191         2    999         0           1.1          93.994

       cons.conf.idx  euribor3m  nr.employed
32884          -46.2      1.299       5099.1
3169           -36.4      4.860       5191.0
32206          -46.2      1.313       5099.1
9403           -41.8      4.967       5228.1
14020          -42.7      4.963       5228.1
...              ...        ...          ...
12322          -42.7      4.959       5228.1
23440          -36.1      4.964       5228.1
29431          -47.1      1.405       5099.1
16627          -42.7      4.963       5228.1
1871           -36.4      4.855       5191.0

[8238 rows x 10 columns]

In [17]:
y_pred = clf.predict(X_test)
print(y_pred)

[0 0 0 ... 0 0 0]